<.header>
  Listing Stories
  <:actions>
    <.link patch={~p"/stories/new"}>
      <.button>New Story</.button>
    </.link>
  </:actions>
</.header>

<.table id="stories" rows={@streams.stories}>
  <:col :let={{_id, story}} label="Name"><%= story["name"] %></:col>
  <:col :let={{_id, story}} label="Label"><%= story["label"] %></:col>
  <:col :let={{_id, story}} label="Number"><%= story["id"] %></:col>
  <:col :let={{_id, story}} label="Type"><%= story["story_type"] %></:col>
</.table>
